* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    transition: all 0.5s ease;
    scale: 1.05;
    color: #088395;
    text-decoration: underline;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1rem;
    backdrop-filter: blur(3px);
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}

.name-page {
    font-size: 110%;
    font-weight: bold;
}

nav ul {
    width: 60%;
    justify-content: center;
}

nav ul a {
    margin: 0.5rem;
}

.container-firstChild {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/image/Backround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

h1 strong {
    color: #05BFDB;
}

.container-Productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-200deg, #1fa2ff8c, #12dcfba9, #A5D7E8);
}

.container-Productos .txt-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10%;
    top: 0;
}
.txt-cont h2{
    margin: 2.5em 0;
}
.container-items {
    margin-top: 30px;
    /* investigar este codigo */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    height: 90%;
    width: 70%;
    transition: 0.3s;
}

/* items */
.container-items .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #777;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.two-it{
    background: url('/image/P1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container-items .item:hover {
    box-shadow: 10px 10px 20px #777;
    scale: 1.05;
}

.container-items .item img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.container-items .item .hover{
    position: relative;
    z-index: 3;
    opacity: 0;
}

.container-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.container-items .item .precio-item {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}